
body {
  background-color: #eeedec;
}

h1 {
  font-family: sans-serif;

}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  position: relative; left: 460px;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.mail {
  display: inline;
  justify-content: center;
  align-items: center;
  height: inherit;


}
.repeat {
  background:
    repeating-radial-gradient(
      circle at 0 0,
      #eee,
      #ccc 30px
    );
  background-size:
  height: 5000px;
  width: 1425px;
  height: 400px;
 }

 .gifs {
   position: relative; left: 60px;
 }
.welcome {
position: relative; left: 600px;
font-size: 25px;

}

.sophie {
  position: relative; left: 575px;
}
